@{
    ViewData["Title"] = "CLASSIC GARAGE";
}
<div class="border-animated text-center">

    

        <h3 class="display-4"><b class="h1-text" style="font-size:1em;">Movemos historias sobre ruedas..</b></h3>
        <h4>Tu próximo auto, nuestra historia</h4>
        <p>
            <b style="color: #495057;">
            Registro interno de autos 0km y usados.
            Herramienta exclusiva de Classic Garage para cargar, consultar y actualizar el stock disponible y las operaciones de venta realizadas.
            </b>
        </p>       
   
    

    <div class="text-center">
        <img class="logomiddle" src=~/images/ClasiccGarage.png alt="Logo" title="CLASSIC GARAGE">
    </div>

</div>