@model ProyectoFinal.Models.Repuesto

@{
    ViewData["Title"] = "Create";
}

<h1 class="h1-text">Crear nuevo repuesto</h1>

<h4>Repuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label fw-bold"></label>
                <input asp-for="Nombre" class="form-control"
                       placeholder="Ingrese un repuesto.." />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label fw-bold"></label>
                <select asp-for="MarcaId" class ="form-control" asp-items="ViewBag.MarcaId">
                    <option value="">Seleccione una marca</option>
                </select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Costo" class="control-label fw-bold"></label>
                <input asp-for="Costo" class="form-control"
                       placeholder="Ingrese el costo.." />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label fw-bold"></label>
                <input asp-for="Cantidad" class="form-control"
                       placeholder="Ingrese una cantidad.." />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label fw-bold"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> | 
                <a class="btn btn-secondary" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#inputPrecio").on({
            "focus": function (event) {
                $(event.target).select();
            },
            "keyup": function (event) {
                $(event.target).val(function (index, value) {
                    return value.replace(/\D/g, "")
                        .replace(/([0-9])([0-9]{2})$/, '$1,$2')
                        .replace(/\B(?=(\d{3})+(?!\d)\,?)/g, ".");
                });
            }
        });
    </script>
}
